workflows/weather-alert.json
{
  "name": "Weather Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "50 23 * * *"
            }
          ]
        }
      },
      "id": "cron-node",
      "name": "Daily Weather Monitor",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 450]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "latitude", "value": "40.7128" },
            { "name": "longitude", "value": "-74.0060" },
            { "name": "hourly", "value": "weather_code" },
            { "name": "forecast_days", "value": "1" },
            { "name": "timezone", "value": "America/New_York" }
          ]
        },
        "options": {}
      },
      "id": "openmeteo-node",
      "name": "Fetch Open-Meteo Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 280]
    },
    {
      "parameters": {
        "url": "https://weather.googleapis.com/v1/forecast/hours:lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "location.latitude", "value": "40.7128" },
            { "name": "location.longitude", "value": "-74.0060" },
            { "name": "hours", "value": "6" }
          ]
        },
        "options": {}
      },
      "id": "google-node",
      "name": "Fetch Google Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 620]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "openmeteo-condition",
              "leftValue": "={{ $json.hourly.weather_code.slice(0, 6).some(code => [96, 99].includes(code)) }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-openmeteo",
      "name": "Check Storm/Hail Risk (Open-Meteo)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "google-condition",
              "leftValue": "={{ $json.forecastHours.some(h => ['HAIL', 'HAIL_SHOWERS'].includes(h.weatherCondition.type)) }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-google",
      "name": "Check Storm/Hail Risk (Google)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 620]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-node",
      "name": "Combine Alert Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 450]
    },
    {
      "parameters": {
        "jsCode": "// Get all input items from both APIs\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\n// Track which sources detected risk\nconst sources = [];\nlet timestamp = new Date().toISOString();\n\nitems.forEach((item, index) => {\n  // Determine source based on position (0 = Open-Meteo, 1 = Google)\n  if (index === 0) {\n    sources.push('Open-Meteo');\n  } else if (index === 1) {\n    sources.push('Google Weather');\n  }\n});\n\n// Return single consolidated alert\nreturn [{\n  json: {\n    alert: true,\n    severity: sources.length > 1 ? 'high' : 'moderate',\n    sources: sources,\n    sourcesCount: sources.length,\n    message: sources.length > 1 \n      ? `⚠️ Multiple weather sources (${sources.join(', ')}) detected storm/hail risk!`\n      : `⚠️ ${sources[0]} detected storm/hail risk!`,\n    timestamp: timestamp,\n    location: 'NYC (40.7128, -74.0060)',\n    actionRequired: 'Stay indoors and monitor local weather updates'\n  }\n}];"
      },
      "id": "dedup-node",
      "name": "Consolidate & Deduplicate Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 450]
    },
    {
      "parameters": {
        "chatId": "TU_CHAT_ID",
        "text": "={{ $json.message }}\n\n📍 *Location:* {{ $json.location }}\n🔴 *Severity:* {{ $json.severity.toUpperCase() }}\n📡 *Sources:* {{ $json.sources.join(', ') }}\n🕐 *Detected:* {{ new Date($json.timestamp).toLocaleString('en-US', { timeZone: 'America/New_York' }) }}\n\n💡 *Action:* {{ $json.actionRequired }}\n\n⚠️ _This is an automated alert from your weather monitoring system._",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "telegram-node",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1700, 450]
    },
    {
      "id": "error-trigger-node",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [1700, 100],
      "parameters": {}
    },
    {
      "id": "format-error-node",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 100],
      "parameters": {
        "jsCode": "// Get error details from the trigger\nconst error = $input.first().json;\n\n// Format error message\nconst workflowName = error.workflow.name || 'Unknown';\nconst nodeName = error.execution.lastNodeExecuted || 'Unknown';\nconst errorMessage = error.execution.error?.message || 'No details available';\nconst executionId = error.execution.id;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    errorAlert: true,\n    workflow: workflowName,\n    failedNode: nodeName,\n    message: errorMessage,\n    executionId: executionId,\n    timestamp: timestamp,\n    formattedMessage: `🔴 WORKFLOW ERROR\\n\\nWorkflow: ${workflowName}\\nFailed Node: ${nodeName}\\nError: ${errorMessage}\\nExecution ID: ${executionId}\\nTime: ${new Date(timestamp).toLocaleString('en-US', { timeZone: 'America/New_York' })}\\n\\n⚠️ Please check the workflow and fix the issue.`\n  }\n}];"
      }
    },
    {
      "id": "error-telegram-node",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2100, 100],
      "parameters": {
        "chatId": "TU_CHAT_ID",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [160, 80],
      "parameters": {
        "color": 3,
        "width": 420,
        "height": 240,
        "content": "🌩️ DUAL-SOURCE WEATHER MONITOR\n\nThis workflow checks TWO independent weather APIs daily:\n• Open-Meteo (free, no API key required)\n• Google Weather API (requires API key)\n\nChecks run at 23:50 daily for NYC area (40.7128, -74.0060).\n\n⚠️ CONFIGURE: Update Telegram chatId before activating!"
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, 80],
      "parameters": {
        "color": 3,
        "width": 380,
        "height": 240,
        "content": "📊 API CONDITIONS CHECKED\n\nOPEN-METEO API:\n• Weather codes: 96, 99\n• These indicate thunderstorm with hail\n\nGOOGLE WEATHER API:\n• Conditions: HAIL, HAIL_SHOWERS\n• Checks next 6 hours (hours=6 parameter)"
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [960, 80],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 240,
        "content": "🔀 DEDUPLICATION LOGIC\n\nBoth IF nodes send TRUE paths to Merge node.\nConsolidate & Deduplicate Alerts node:\n• Combines multiple sources into ONE alert\n• Assigns severity: HIGH if both APIs agree\n• Generates intelligent message with source list\n• Prevents duplicate notifications"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1360, 80],
      "parameters": {
        "color": 1,
        "width": 420,
        "height": 240,
        "content": "📱 TELEGRAM CONFIGURATION\n\nREQUIRED SETUP STEPS:\n1. Create bot via @BotFather\n2. Get your chat ID (use @userinfobot)\n3. Replace 'TU_CHAT_ID' with actual ID\n\nDYNAMIC MESSAGE TEMPLATE:\nUses consolidated data including severity level, sources list, timestamp, location, and action recommendations."
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, 800],
      "parameters": {
        "color": 5,
        "width": 400,
        "height": 180,
        "content": "🗺️ LOCATION CONFIGURATION\n\nCurrent Location: NYC (40.7128, -74.0060)\n\nTo change location, update BOTH APIs:\n• Open-Meteo: latitude, longitude parameters\n• Google: location.latitude, location.longitude parameters"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1700, -80],
      "parameters": {
        "color": 6,
        "width": 400,
        "height": 160,
        "content": "🚨 ERROR HANDLING\n\nError Trigger monitors ALL nodes.\nIf any node fails, sends alert with:\n• Failed node name\n• Error message\n• Execution ID\n• Timestamp\n\n⚠️ Separate from main alert flow"
      }
    }
  ],
  "connections": {
    "Daily Weather Monitor": {
      "main": [
        [
          { "node": "Fetch Open-Meteo Data", "type": "main", "index": 0 },
          { "node": "Fetch Google Weather", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Open-Meteo Data": {
      "main": [[{ "node": "Check Storm/Hail Risk (Open-Meteo)", "type": "main", "index": 0 }]]
    },
    "Fetch Google Weather": {
      "main": [[{ "node": "Check Storm/Hail Risk (Google)", "type": "main", "index": 0 }]]
    },
    "Check Storm/Hail Risk (Open-Meteo)": {
      "main": [[{ "node": "Combine Alert Sources", "type": "main", "index": 0 }]]
    },
    "Check Storm/Hail Risk (Google)": {
      "main": [[{ "node": "Combine Alert Sources", "type": "main", "index": 1 }]]
    },
    "Combine Alert Sources": {
      "main": [[{ "node": "Consolidate & Deduplicate Alerts", "type": "main", "index": 0 }]]
    },
    "Consolidate & Deduplicate Alerts": {
      "main": [[{ "node": "Send Telegram Alert", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Format Error Message", "type": "main", "index": 0 }]]
    },
    "Format Error Message": {
      "main": [[{ "node": "Send Error Alert", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
